<div class="viewer_container">
    <label style="line-height: 32px;">
        <e-text key="label-video">
        </e-text>
    </label>
    <hr>
    <canvas class="outputImage" style="background-color: black;"></canvas>
    <hr>
    <div style="display:flex; flex-wrap: nowrap;gap:10px;overflow-x:auto;">
        <div style="flex-grow: 1;text-align: left;line-height: 42px;white-space: nowrap;">
            <label>왼팔: </label>
            <input class="color-left-arm"
                type="color" value="#ff0000">
            <label>오른팔: </label>
            <input class="color-right-arm"
                type="color" value="#0000ff">
            <label>왼다리: </label>
            <input class="color-left-leg"
                type="color" value="#ffff00">
            <label>오른다리: </label>
            <input class="color-right-leg"
                type="color" value="#00ffff">
            <label>몸통: </label>
            <input class="color-torso" type="color" value="#00ff00">
            <label>머리: </label>
            <input class="color-head" type="color" value="#ffffff">
            <label>관절부: </label>
            <input class="color-joint" type="color" value="#ff0000">
        </div>
        <div style="text-align: right;white-space: nowrap;">
            <button class="save"><e-text key="btn-save"></e-text></button>
        </div>
    </div>
</div>