nav h1, .nav h1 {
    font-weight: normal;
    font-size: 15px;
    margin: 0;
}

nav button, nav .label-for-btn {
    color: #aaa;
    padding: 0;
    background-color: transparent;
    margin: 0;
}

nav a, .nav a,
nav button, nav .label-for-btn {
    -webkit-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

nav a:hover, .nav a:hover,
nav button:hover, nav .label-for-btn:hover {
    color: var(--primary-color);
}