<div class="viewer_container" style="display:flex; flex-direction: column;">
    <div style="padding: 10px 15px" minimaxTarget>
        <label style="line-height: 32px;">
            <e-text key="label-video">
            </e-text>
        </label>
    </div>
    <canvas class="outputImage" style="background-color: black;flex: 1;"></canvas>
    <div style="padding: 10px 15px" minimaxTarget>
        <div class="divide">
            <div class="frameMakerSetting">
                <div>
                    <label>Trail: </label>
                    <input type="number" pattern="\d*"
                        inputmode="decimal" class="trailInput"
                        value="3" min="0" max="15" step="1">
                </div>
                <div>
                    <label>
                        <e-text key="label-trajectory"></e-text>: 
                    </label>
                    <input type="color" class="trail-color"
                        value="#00ff00">
                    <input type="number" pattern="\d*"
                        inputmode="decimal" class="trail-color-alpha"
                        value="100" min="0" max="255">
                </div>
                <div>
                    <label>
                        <e-text key="label-recognize"></e-text>: 
                    </label>
                    <input type="color" class="bat-color"
                        value="#ff8000">
                    <input type="number" pattern="\d*"
                        inputmode="decimal" class="bat-color-alpha"
                        value="100" min="0" max="255">
                </div>
            </div>
            <div>
                <button class="save"><e-text key="btn-save"></e-text></button>
            </div>
        </div>
    </div>
</div>