<div class="viewer_container" style="display: flex; flex-direction: column;">
    <div style="padding: 10px 15px" minimaxTarget>
        <label style="line-height: 32px;">
            <e-text key="label-video">
            </e-text>
        </label>
    </div>
    <canvas style="background-color: black; flex: 1"></canvas>
    <div style="padding: 10px 15px" minimaxTarget>
        <div class="divide">
            <div class="frameMakerSetting">
                <div>
                    <input type="color" class="trail-color" value="#ff0000">
                    <label><e-text key="label-trajectory"></e-text></label>
                </div>
                <div>
                    <input type="color" class="box-color" value="#0000ff">
                    <label><e-text key="label-recognize"></e-text></label>
                </div>
                <div>
                <label>
                    <e-text key="label-display-conf"></e-text>: 
                </label>
                <input type="checkbox" class="show-conf" checked>
                </div>
            </div>
            <div>
                <button class="save"><e-text key="btn-save"></e-text></button>
            </div>
        </div>
    </div>
</div>